@tailwind base;
@tailwind components;
@tailwind utilities;
.ant-layout {
    display: -ms-flexbox;
    display: flex;
    -ms-flex: auto;
    flex: auto;
    -ms-flex-direction: column;
    flex-direction: column;
    min-height: 0;
    background: #f0f2f5;
}

#root>.ant-layout>.ant-row {
    background-color: #f4f3ff;
    margin-left: 0 !important;
    margin-right: 0 !important;
    overflow: hidden;
}

.ant-row:after,
.ant-row:before {
    display: table;
    content: "";
}