.btnStyle {
    border-radius: 100px;
    text-decoration: none;
    font-family: "Encode Sans Expanded";
    font-weight: 600;
    font-size: 14px;
    padding: 15.5px 35.5px;
    margin: 25px 0px 0px;
    display: flex;
    width: fit-content;
    -webkit-box-align: center;
    align-items: center;
    transition: all 0.2s ease-in-out 0s;
    background-color: rgb(39, 214, 165);
    border: 1.6px solid rgb(39, 214, 165);
    color: rgb(255, 255, 255) !important;
}

.title {
    color: rgb(255, 255, 255);
    font-family: "Encode Sans Expanded";
    font-size: 17px;
    letter-spacing: 0.08px;
    line-height: 22px;
    text-align: center;
    margin-bottom: 10px;
}

.Total {
    color: rgb(0, 224, 149);
    font-family: "Encode Sans Expanded";
    font-size: 30px;
    font-weight: bold;
    letter-spacing: 0.14px;
    line-height: 41px;
    text-align: center;
}

.leftStyle {
    width: 255px;
    display: flex;
    flex-direction: column;
    -webkit-box-align: center;
    align-items: center;
    margin-right: 30px;
}

.imageStyle {
    width: 100%;
    height: 100%;
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    align-items: flex-end;
    position: absolute;
    top: 0px;
    left: 0px;
}

.GroupList {
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    align-items: center;
    height: 100%;
    position: relative;
    z-index: 2;
}

@media only screen and (max-width: 760px) {
    .CardGroup {
        display: inline-flex;
        margin: auto;
        padding: 2rem;
        height: 100%;
        width: 100%;
    }
    .GroupList {
        display: flex;
        flex-direction: column;
        margin-bottom: 61px;
    }
    .leftStyle {
        align-items: center;
        margin-bottom: 100px;
        padding: 20px;
        justify-content: center;
        width: max-content;
    }
    .Style {
        margin: 50px auto;
        padding-right: 20px;
    }
    .imageStyle {
        display: flex;
        margin-top: 0px;
    }
}

* {
    box-sizing: border-box;
    font-family: "Encode Sans Expanded";
}