@tailwind base;
@tailwind components;
@tailwind utilities;
* {
    margin: 0;
    font-family: "EncodeSansExpanded SemiBold", sans-serif !important;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: "EncodeSansExpanded SemiBold", sans-serif !important;
}

.b_homeBanner {
    background: #6a0dad !important;
}