@tailwind base;
@tailwind components;
@tailwind utilities;
* {
    margin: 0;
    font-family: "EncodeSansExpanded Regular", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: "EncodeSansExpanded Regular", sans-serif;
}

.ant-layout-content {
    -ms-flex: auto;
    flex: auto;
    min-height: 0;
}