.content {
    margin: 50px 50px;
    position: relative;
    padding-bottom: 400px;
    background-color: rgb(74, 32, 170);
}

.imgRight {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0px;
    left: 0px;
    background-image: url("https://www.oncf-voyages.ma/static/media/cercle.21d3ee34.svg"), url("https://www.oncf-voyages.ma/static/media/cercle.21d3ee34.svg");
    background-size: 301px 301px, 476px 476px;
    background-position: -181px 330px, calc(100% + 253px) 0px;
    background-repeat: no-repeat;
    z-index: 10;
}

.imgLeft {
    height: 188px;
    width: 100%;
    background: rgb(244, 243, 255);
    position: relative;
    top: -1px;
}

.imgLContent {
    clip-path: ellipse(55% 301px at 50% 301px);
    height: 101%;
    width: 100%;
    background-color: rgb(74, 32, 170);
}