.content {
    margin: 50px 0px;
    position: relative;
    padding-bottom: 600px;
    background-color: rgb(74, 32, 170);
}

.imgRight {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0px;
    left: 0px;
    background-image: url("https://www.oncf-voyages.ma/static/media/cercle.21d3ee34.svg"), url("https://www.oncf-voyages.ma/static/media/cercle.21d3ee34.svg");
    background-size: 301px 301px, 500px 500px;
    background-position: -191px 350px, calc(100% + 330px) -50px;
    background-repeat: no-repeat;
}

.imgLeft {
    height: 188px;
    width: 100%;
    background: rgb(244, 243, 255);
    position: relative;
    top: -1px;
}

.imgLContent {
    clip-path: ellipse(55% 301px at 50% 301px);
    height: 100%;
    width: 100%;
    background-color: rgb(74, 32, 170);
}

.Title {
    color: rgb(255, 255, 255);
    font-family: "Encode Sans Expanded";
    font-size: 33px;
    font-weight: bold;
    letter-spacing: 0.16px;
    line-height: 43px;
    text-align: center;
    position: relative;
    z-index: 3;
}


/*drop items*/


/* style the component container */

#content .accordion_container {
    width: 400px;
    background-color: #efefef;
    box-shadow: 8px 8px 7px #454545;
    border-radius: 5px;
    overflow: hidden;
    border: 3px solid black;
}


/* style the title button of the accordion menu */

#content .accordion_title {
    /**/
    z-index: 2;
    top: 0px;
    left: 0px;
    width: calc(100% + 160px);
    height: 60px;
    cursor: pointer;
    display: flex;
    align-items: center;
    border-radius: 30px;
    justify-content: space-between;
    position: absolute;
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    font-weight: 400;
    background-color: rgb(81, 37, 181);
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
}

#content .accordion_content {
    height: 0px;
    transition: height 0.3s ease-in;
    -webkit-transition: height 0.3s ease-in;
    -moz-transition: height 0.3s ease-in;
    -ms-transition: height 0.3s ease-in;
    -o-transition: height 0.3s ease-in;
}


/*  
The .show_content class is added and removed from the accordion_content div in the JSX to achieve the show and hide effect for the content when the accordion is clicked.
*/

#content .show_content {
    height: 150px;
    opacity: 1;
    visibility: visible;
    transition: height 0.3s ease-out;
}


/* Style the list item container divs */

#content .list_item_container {
    width: 100%;
    height: 50px;
    padding-left: 15px;
    display: flex;
    justify-content: left;
    align-items: center;
    border-top: 1px solid #a8a8a8;
}


/* Style the first lit item top border, makes the title look encloses without overlapping borders when the accordion is closed */

#content .accordion_content .list_item_container:first-of-type {
    border-top: 3px solid black;
}


/* Style the list items p text */

#content .list_item_container p {
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    font-size: 14px;
}


/* Style list_item text when list_item_container is hovered */

#content .list_item_container:hover>p {
    color: #0072c9;
}