.content {
    margin: 50px 0px;
    position: relative;
    padding-bottom: 400px;
    background-color: rgb(74, 32, 170);
}

.imgRight {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0px;
    left: 0px;
    background-image: url("https://www.oncf-voyages.ma/static/media/cercle.21d3ee34.svg"), url("https://www.oncf-voyages.ma/static/media/cercle.21d3ee34.svg");
    background-size: 301px 301px, 476px 476px;
    background-position: -181px 330px, calc(100% + 253px) 0px;
    background-repeat: no-repeat;
    z-index: 10;
}

.imgLeft {
    height: 188px;
    width: 100%;
    background: rgb(244, 243, 255);
    position: relative;
    top: -1px;
}

.imgLContent {
    clip-path: ellipse(55% 301px at 50% 301px);
    height: 101%;
    width: 100%;
    background-color: rgb(74, 32, 170);
}

.Title {
    color: rgb(255, 255, 255);
    font-family: "Encode Sans Expanded";
    font-size: 33px;
    font-weight: bold;
    letter-spacing: 0.16px;
    line-height: 43px;
    text-align: center;
    position: relative;
    z-index: 3;
}


/*drop items*/


/*
 * Settings
 */

$g-border-radius: 3px;
$g-font-size: 0.875rem;
// Spacing
$g-spacing-x-large: 2rem;
$g-spacing-large: 1.5rem;
$g-spacing: 1rem;
$g-spacing-small: 0.75rem;
$g-spacing-x-small: 0.5rem;
$g-spacing-2x-small: 0.25rem;
$g-spacing-3x-small: 0.125rem;
// Colours
$g-color-white: #fff;
$g-color-text: #777;
$g-color-border: #ccc;
$g-color-light-grey: #f1f1f1;
$g-color-blue: #0288d1;
$g-color-green: #388e3c;
$g-color-orange: #f4511e;
$g-color-red: #c62828;
// Reset / set up the canvas
body {
    color: $g-color-text;
    font-family: sans-serif;
    padding: $g-spacing-x-large;
}


/*
 * 1. So dropdown child is correct width.
 * 2. To allow dropdown to be positioned absolutely 
 */

.c-dropdown-select {
    display: inline-block; // [1]
    font-size: $g-font-size;
    position: relative; // [2]
}


/*
 * 1. To position caret icon
 * 2. Button default is to center text
 * 3. Truncate For long labels
 */

.c-dropdown-select__trigger {
    cursor: pointer;
    display: block;
    font-size: inherit;
    line-height: 1;
    overflow: hidden; // [3]
    padding-bottom: $g-spacing-x-small;
    padding-left: $g-spacing-small;
    padding-right: $g-spacing-x-large;
    padding-top: $g-spacing-x-small;
    position: relative; // [1]
    text-align: left; // [2]
    text-overflow: ellipsis; // [3]
    white-space: nowrap; // [3]
    &:focus {
        border-color: $g-color-blue;
        outline: 0;
    }
    /*
     * The caret icon
     */
    &::after {
        border: $g-spacing-x-small solid transparent;
        border-top-color: $g-color-text;
        content: "";
        margin-top: -$g-spacing-3x-small;
        position: absolute;
        right: $g-spacing-x-small;
        top: 50%;
    }
}

.c-dropdown-select__trigger-inner {
    align-items: center;
    display: flex;
}

.c-dropdown-select__trigger,
.c-dropdown-select__dropdown {
    background-color: $g-color-white;
    border: 1px solid $g-color-border;
    border-radius: $g-border-radius;
    min-width: 13rem;
}

.c-dropdown-select__dropdown {
    left: 0;
    margin-top: $g-spacing-3x-small;
    max-width: 15rem;
    position: absolute;
    top: 100%;
}


/*
 * 1. To align bullet and text
 */

.c-dropdown-select__option {
    align-items: baseline;
    cursor: pointer;
    display: flex; // [1]
    line-height: 1.4;
    padding: $g-spacing-x-small $g-spacing-small;
    &.is-active,
    &:hover {
        background-color: $g-color-light-grey;
    }
}


/*
 * 1. Takes up remaining space
 * 2. Allow pointer events to pass through
 */

.c-dropdown-select__option-text {
    flex: 1; // [1]
    margin-left: $g-spacing-x-small;
    pointer-events: none; // [2]
}


/*
 * The circle icon
 */

$c-status-icon-size: $g-spacing-small;

/*
 * 1. Makes a perfect circle when height and width are set.
 */

.c-status-icon {
    background-color: $g-color-light-grey;
    border-radius: 50%; // [1]
    height: $c-status-icon-size;
    width: $c-status-icon-size;
}

.c-status-icon--red {
    background-color: $g-color-red;
}

.c-status-icon--orange {
    background-color: $g-color-orange;
}

.c-status-icon--green {
    background-color: $g-color-green;
}

.c-status-icon--blue {
    background-color: $g-color-blue;
}