/* Tab Container */
#InputClasse .Tabs {
    width: 100% !important;
    background: #fff !important;
    margin: 0px 0px 0.9375rem !important;
    padding: 0px !important;
    color: rgba(0,0,0,.65) !important;
    border-radius: 50% !important;
    display: table;
    table-layout: fixed;
   }
/* Tab Navigation */
#InputClasse ul.nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 1px solid rgb(189, 167, 239);
    border-radius: 2rem;
    
  }
#InputClasse  ul.nav li {
    width: 39.3333%;
    list-style: none;
    text-align: center;
    cursor: pointer;
    transition: all 0.7s;
    border-bottom-left-radius: 2rem;
    border-top-left-radius: 2rem;
    border-width: 1px;
    border-color: rgb(189, 167, 239) !important;
    display: inline-block;
    padding: .60rem 0.680rem;
    
    border-radius: 0px;
  }
  #InputClasse  ul.nav li:nth-child(1) {
    border-radius: 0;
    border-bottom-left-radius: 2rem;
    border-top-left-radius: 2rem;
  }
  #InputClasse  ul.nav li:nth-child(2) {
    border-radius: 0;
  }
  #InputClasse  ul.nav li:nth-child(3) {
    border-radius: 0;
    border-bottom-right-radius: 2rem;
    border-top-right-radius: 2rem;
  }

  #InputClasse ul.nav li.active {
    border-color: rgb(74, 32, 170);
    background-color: rgb(74, 32, 170);
    box-shadow: rgb(74 32 170) -1px 0px 0px 0px;
  }
  
  #InputClasse ul.nav li.active {
    border-color: rgb(74, 32, 170);
    background-color: rgb(74, 32, 170);
    box-shadow: rgb(74 32 170) -1px 0px 0px 0px;
  }
  #InputClasse .ant-radio-button-wrapper > span:last-child {
    font-family: "EncodeSansExpanded SemiBold", sans-serif;
    font-size: 0.875rem;
    color: rgb(189, 167, 239);
    transition: all 0.3s linear 0s;
    font-size: 12px;
}
#InputClasse  li.active .ant-radio-button-wrapper span:last-child {
    color: rgb(255, 255, 255);
    opacity: 1;
}