.accordion {
    margin: auto;
    width: 400px;
}

.accordion input {
    display: none;
}

.box {
    position: relative;
    background: transparent;
    height: 60px;
    transition: all 0.15s ease-in-out;
    -webkit-transition: all 0.15s ease-in-out;
    -moz-transition: all 0.15s ease-in-out;
    -ms-transition: all 0.15s ease-in-out;
    -o-transition: all 0.15s ease-in-out;
}

.box::before {
    content: "";
    position: absolute;
    display: block;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    pointer-events: none;
    box-shadow: 0 -1px 0 #e5e5e5, 0 0 2px rgba(0, 0, 0, 0.12), 0 2px 4px rgba(0, 0, 0, 0.24);
}

header.box {
    background: transparent;
    color: white;
    z-index: 100;
    cursor: initial;
    box-shadow: 0 -1px 0 #e5e5e5, 0 0 2px -2px rgba(0, 0, 0, 0.12), 0 2px 4px -4px rgba(0, 0, 0, 0.24);
}

header .box-title {
    margin: 0;
    font-weight: normal;
    font-size: 16pt;
    color: white;
    cursor: initial;
}

.box-title {
    width: calc(100% - 40px);
    height: 60px;
    line-height: 64px;
    padding: 0 20px;
    display: inline-block;
    cursor: pointer;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.box-content {
    width: calc(100% - 40px);
    padding: 10px;
    font-size: 11pt;
    color: #fff;
    display: none;
}

.box-close {
    position: absolute;
    height: 60px;
    width: 100%;
    top: 0;
    left: 0;
    cursor: pointer;
    display: none;
    color: #fff;
}

input:checked+.box {
    height: auto;
    margin: 16px 0;
    color: #fff;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.16), 0 6px 12px rgba(0, 0, 0, 0.32);
}

input:checked+.box .box-title {
    border-bottom: 1px solid rgba(0, 0, 0, 0.18);
    color: #fff;
}

input:checked+.box .box-content,
input:checked+.box .box-close {
    display: inline-block;
    color: #fff;
}

.arrows section .box-title {
    padding-left: 44px;
    width: calc(100% - 64px);
    color: #fff;
}

.arrows section .box-title:after {
    position: absolute;
    display: block;
    content: "\203a";
    font-size: 18pt;
    left: 250px;
    top: -2px;
    transition: transform 0.15s ease-in-out;
    color: #fff;
    -webkit-transition: transform 0.15s ease-in-out;
    -moz-transition: transform 0.15s ease-in-out;
    -ms-transition: transform 0.15s ease-in-out;
    -o-transition: transform 0.15s ease-in-out;
}

input:checked+section.box .box-title:after {
    transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
}