.vente-navbar-container {
    width: 100%;
    position: static;
    height: 120px;
}

#Menu .menuList {
    background: #6a0dad;
    height: auto;
    position: relative;
    width: 100%;
    z-index: 11;
}

#Menu .IconMenu {
    display: flex;
    height: 120px;
    -webkit-box-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    align-items: center;
    z-index: 81;
    position: relative;
}

#Menu .app-header-container {
    padding-bottom: 0 !important;
    margin: 0px auto;
    width: 80%;
}

#Menu .iconFirst {
    display: flex;
}

#Menu .groupIcon {
    display: flex;
    flex-direction: column;
    margin-right: 55px;
    cursor: pointer;
}

#Menu .icon {
    overflow: hidden;
}

#Menu .title {
    font-size: 14px;
    line-height: 17px;
    color: rgb(255, 255, 255);
}

#Menu .encfGroup {
    cursor: pointer;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
}

#Menu .iconLeft {
    display: flex;
}

#Menu .UserIcon {
    font-family: "EncodeSansExpanded Medium", sans-serif;
    font-size: 1rem;
    line-height: 1.125rem;
    color: #fff;
    padding: 0;
}

#Menu .user_login_icon {
    border-right: 1px solid rgba(255, 255, 255, 0.58);
    padding: 0px 30px;
}

#Menu .user {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    position: relative;
    cursor: pointer;
}

#Menu .lastChild:last-child {
    border-right: none;
    padding-right: 0px;
}

#Menu .panierShop {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    position: relative;
    cursor: pointer;
}


/*Menu style slide*/

.bm-burger-button {
    position: fixed;
    width: 36px;
    height: 30px;
    left: 36px;
    top: 36px;
}

.bm-burger-bars {
    background: #fff;
}


/* .bm-menu-wrap {
  visibility: hidden;
}

.bm-menu-wrap.open {
  visibility: visible;
} */

.bm-cross-button {
    height: 24px;
    width: 24px;
}

.bm-cross {
    background: #fff;
}

.bm-menu {
    background: #373a47;
    padding: 2.5em 1.5em 0;
    font-size: 1.15em;
}

.bm-item-list {
    padding: 0.8em;
}

.bm-item {
    display: block;
    color: #bdc3c7;
}