.vente-navbar-container {
    width: 100%;
    position: static;
    height: 120px;
}

#Menu .menuList {
    background: #6a0dad;
    height: auto;
    position: relative;
    width: 100%;
    z-index: 11;
}