.tabs {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 50px;
}

.tabsList {
    display: flex;
    align-items: flex-end;
    width: 100%;
    padding: 0px 80px;
    margin-right: -20px;
    margin-left: -25px;
    margin-bottom: -1px;
}

.tabsPage {
    background-color: rgb(255, 255, 255);
    border-radius: 12px;
    width: 100%;
    z-index: 3;
    padding: 20px 35px;
}

.stylePage {
    margin-left: -15px;
    margin-right: -15px;
}

.tabTitel {
    font-size: 13px;
    line-height: 16px;
    font-weight: 400;
    margin-left: 16px;
}

.icon {
    display: flex;
}

@media (max-width: 768px) {
    .b_homeBanner {
        padding: 40px 0;
    }
    .b_homeBanner .main {
        width: 90% !important;
        max-width: 90% !important;
    }
}