.tabs {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.tabsList {
    display: flex;
    align-items: flex-end;
    width: 100%;
    padding: 0px 80px;
    margin-bottom: -1px;
}

.tabsPage {
    background-color: rgb(255, 255, 255);
    border-radius: 12px;
    width: 100%;
    z-index: 3;
    padding: 20px 35px;
}

.stylePage {
    margin-left: -15px;
    margin-right: -15px;
}

.tabTitel {
    font-size: 13px;
    line-height: 16px;
    font-weight: 400;
    margin-left: 16px;
}

.icon {
    display: flex;
}

.icon {
    display: flex;
}

.b_homeBanner_content .widget-travel-container {
    background-color: initial;
    height: auto;
    overflow: visible;
    align-items: stretch;
}

.b_homeBanner_content .search-widget {
    background-color: initial;
    float: none;
    padding-top: 0;
    padding-bottom: 0;
}