#slider .slider-wrapper {
    overflow: hidden;
    margin: auto;
    width: 100%;
    transition: height 0.15s ease-in;
}

#slider .img {
    border-radius: 25px;
    width: 98% !important;
    height: 450px !important;
}

#slider .rsis-container {
    overflow: hidden;
    width: 100%;
    transition: height 0.15s ease-in;
    background-color: aliceblue;
    -webkit-transition: height 0.15s ease-in;
    -moz-transition: height 0.15s ease-in;
    -ms-transition: height 0.15s ease-in;
    -o-transition: height 0.15s ease-in;
}

#slider .rsis-container div {
    display: flex !important;
    -webkit-box-align: center;
    align-items: center !important;
    -webkit-box-pack: center;
    justify-content: center !important;
    border-radius: 25px !important;
    padding: 20px !important;
    top: 20px !important;
    background-size: cover !important;
    -webkit-border-radius: 25px !important;
    -moz-border-radius: 25px !important;
    -ms-border-radius: 25px !important;
    -o-border-radius: 25px !important;
}

#slider .slider-wrapper div button img {
    background-color: #6a0dad;
    border-radius: 50%;
}

#slider .slider-wrapper div {
    background: #8246ad;
}

@media screen and (max-width: 766px) {
    #slider .slider-wrapper div button img {
        margin: 0px;
    }
}