.slider-wrapper {
    overflow: hidden;
    margin: auto;
    width: 100%;
    transition: height 0.15s ease-in;
}

.img {
    border-radius: 25px;
    width: 98% !important;
    height: 450px !important;
}

.rsis-container {
    overflow: hidden;
    margin: auto;
    width: 100%;
    transition: height 0.15s ease-in;
    background-color: aliceblue;
}

.rsis-container div {
    display: flex !important;
    -webkit-box-align: center;
    align-items: center !important;
    -webkit-box-pack: center;
    justify-content: center !important;
    border-radius: 25px !important;
    width: 66% !important;
    height: 91% !important;
    padding-bottom: 20px !important;
    top: 20px !important;
    bottom: 30px !important;
    margin: auto 250px !important;
    background-size: contain !important;
    -webkit-border-radius: 25px !important;
    -moz-border-radius: 25px !important;
    -ms-border-radius: 25px !important;
    -o-border-radius: 25px !important;
}