.slider-wrapper {
    overflow: hidden;
    margin: auto;
    width: 100%;
    transition: height 0.15s ease-in;
}

.img {
    border-radius: 25px;
    width: 98% !important;
    height: 450px !important;
}

.rsis-container {
    overflow: hidden;
    margin: auto;
    width: 100%;
    transition: height 0.15s ease-in;
}

.rsis-container div {
    border-radius: 25px;
    width: 80% !important;
    height: 450px !important;
    margin: auto 100px;
    background-repeat: repeat-y;
    background-size: contain !important;
}