.slider-wrapper {
    overflow: hidden;
    margin: auto;
    width: 100%;
    transition: height 0.15s ease-in;
}

.img {
    border-radius: 25px;
    width: 98% !important;
    height: 450px !important;
}

.rsis-container {
    overflow: hidden;
    margin: auto;
    width: 100%;
    transition: height 0.15s ease-in;
}

.rsis-container div {
    border-radius: 25px;
    height: 450px !important;
    background-repeat: no-repeat;
    background-size: contain !important;
}