.Layout {
    width: 100%;
    display: flex;
    flex-direction: column;
    background: rgb(255, 255, 255);
    border-radius: 15px;
    overflow: hidden;
}

.searchForm {
    padding: 0;
    margin-bottom: 12px;
}

.Forms {
    width: 100%;
    display: flex;
    padding: 40px 36px 30px;
}

.child:first-child {
    padding-left: 0px;
}

.child {
    width: 100%;
    padding: 0px 14px;
    display: flex;
    align-items: flex-end;
}

.textfield {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
}

.textfield>p {
    display: block !important;
}

.textStyle {
    font-size: 14px;
    padding: 6px 0;
    margin-bottom: 0;
    margin-left: 20px;
    color: #4a20aa !important;
}

.labelfieild {
    position: relative;
    color: rgb(74, 32, 170);
    margin-bottom: 8px;
    margin-left: 22px;
    margin-right: 8px;
    font-size: 1.1rem;
}

.input {
    height: 46px;
    font-size: 14px;
    border: 1px solid #bda7ef;
    padding: 7px 22px;
}

.inputInside {
    position: relative;
    height: 50px;
    width: 100%;
    padding: 7px 30px;
    font-family: inherit;
    font-size: 1.1rem;
    font-weight: 500;
    color: rgb(74, 32, 170);
    border: 2px solid rgb(189, 167, 239);
    border-radius: 30px;
    transition: all 0.3s ease 0s;
}

.InputStyle {
    height: 46px;
    font-size: 14px;
    border: 1px solid #bda7ef;
    padding: 7px 22px;
}

.childAdresse {
    width: 100%;
    padding: 0px 14px;
    display: flex;
    align-items: flex-end;
}


/*children 3*/

.layoutBtn:last-child {
    padding-right: 0px;
}

.layoutBtn {
    width: 60%;
    padding: 0px 14px;
    display: flex;
    align-items: flex-end;
}

.filled {
    background-color: #e5dff1;
    border-color: #e5dff1;
    color: #4a20aa;
}

.filled:hover {
    background-color: #e5dff1;
    border-color: #e5dff1;
    color: #4a20aa;
}

.primary {
    background: rgb(74, 32, 170);
    border: 1px solid rgb(74, 32, 170);
}

.medium {
    height: 50px;
}

.btnRecherche {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    width: 100%;
    color: rgb(255, 255, 255);
    border-radius: 200px;
    cursor: pointer;
    font-weight: bold;
    transition: all 0.3s ease 0s;
    text-decoration: none;
    padding: 0px 20px;
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -ms-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
}

.iconSvge {
    width: 20px;
    margin-top: 2px;
}