.Layout {
    width: 100%;
    display: flex;
    flex-direction: column;
    background: rgb(255, 255, 255);
    border-radius: 15px;
    overflow: hidden;
}

.searchForm {
    padding: 0;
    margin-bottom: 12px;
}

.Forms {
    width: 100%;
    display: flex;
    padding: 40px 36px 30px;
}

.child:first-child {
    padding-left: 0px;
}

.child {
    width: 100%;
    padding: 0px 14px;
    display: flex;
    align-items: flex-end;
}

.textfield {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
}

.SearchWidget_form.home .travelCaseSearch .searchForm .textfield>div {
    display: block !important;
}

.textStyle {
    font-size: 14px;
    padding: 6px 0;
    margin-bottom: 0;
    margin-left: 20px;
    color: #4a20aa !important;
}

.labelfieild {
    position: relative;
    color: rgb(74, 32, 170);
    margin-bottom: 8px;
    margin-left: 22px;
    margin-right: 8px;
    font-size: 1.1rem;
}