.Layout {
    width: 100%;
    display: flex;
    flex-direction: column;
    background: rgb(255, 255, 255);
    border-radius: 15px;
    overflow: hidden;
}

.searchForm {
    padding: 0;
    margin-bottom: 12px;
}

.Forms {
    width: 100%;
    display: flex;
    padding: 40px 36px 30px;
}

.child:first-child {
    padding-left: 0px;
}

.child {
    width: 100%;
    padding: 0px 14px;
    display: flex;
    align-items: flex-end;
}