@tailwind base;
@tailwind components;
@tailwind utilities;
* {
    margin: 0;
    font-family: "EncodeSansExpanded SemiBold", sans-serif !important;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: "EncodeSansExpanded SemiBold", sans-serif !important;
}

.ant-layout-content {
    -ms-flex: auto !important;
    flex: auto !important;
    min-height: 0 !important;
}

.b_homeBanner {
    position: relative !important;
    height: auto !important;
    background: #6a0dad !important;
    padding: 40px 0 130px 100px !important;
}

.b_homeBanner .main {
    width: 85% !important;
    max-width: 85% !important;
}