.filpImage {
    padding: 50px 0px;
    background: linear-gradient(rgb(246, 252, 253) 0%, rgb(244, 243, 255) 100%);
}

.containerFilp {
    width: 1110px;
    height: 590px;
    position: relative;
    margin: 0px auto;
}

.flipeOne {
    width: 730px;
    height: 480px;
    border-radius: 24px 0px 0px 24px;
    padding: 121px 250px 112px 95px;
    background-color: rgb(239, 46, 66);
}