.filpImage {
    padding: 50px 0px;
    background: linear-gradient(rgb(246, 252, 253) 0%, rgb(244, 243, 255) 100%);
}

.containerFilp {
    width: 1110px;
    height: 590px;
    position: relative;
    margin: 0px auto;
}