.filpImage {
    padding: 50px 0px;
    background: linear-gradient(rgb(246, 252, 253) 0%, rgb(244, 243, 255) 100%);
}

.containerFilp {
    width: 1110px;
    height: 590px;
    position: relative;
    margin: 0px auto;
}

.flipeOne {
    width: 730px;
    height: 480px;
    border-radius: 24px 0px 0px 24px;
    padding: 121px 250px 112px 95px;
    background-color: rgb(239, 46, 66);
}

.flipeTow {
    height: 470px;
    width: 540px;
    border-radius: 24px 24px 100px;
    background-color: rgb(255, 255, 255);
    box-shadow: rgb(0 0 0 / 4%) 0px 12px 84px 0px;
    padding: 130px 95px 95px;
    position: absolute;
    right: 0px;
    top: 120px;
    z-index: 1;
}